@model Blogs
<h1 style="margin-top:100px;">Blogs</h1>
<h2 style="margin-top:10px;">@Model.Name</h2>
<h1 style="margin-top:10px;">@Model.Id</h2>
    <h5 style="margin-top:10px;">@Model.Description</h5>
